.predict-page-photo {
    background: url(../../img/crop2.png) no-repeat center center fixed;
    background-size: cover;
    opacity: 0.7;
}

.prediction-overlay {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.prediction-overlay .container {
    max-width: 1000px; 
    margin: auto; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    height: 100%; 
}


.form-group {
    margin-bottom: 1rem;
}

.form-label, .my-3{
    color: white;
}

.btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

