.profile-page-photo {
    background: url(../../img/profile.png) no-repeat center center fixed;
    background-size: cover;
    display: flex;        /* Use flex to center children vertically and horizontally */
    justify-content: center;
    align-items: center;
    height: 100vh;        /* Make sure the photo takes up full viewport height */
}

/* Center the profile overlay and limit its width */
.profile-overlay {
    background-color: rgba(162, 180, 159, 0.7);
    padding: 1rem;
    border-radius: 10px;
    width: 50%;           /* Limit the width to 50% of its parent */
    margin: auto;         /* This will center the overlay */
    display: flex;
    flex-direction: column;
}

/* Adjust the form controls */
.form-control {
    width: 100%;          /* Make form controls full width of their parent container */
    background-color: whitesmoke;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0.375rem;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    line-height: 1.2;
}

/* Styling for the buttons */
.btn {
    background-color: #0056b3;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}

.btn:hover, .btn:focus {
    background-color: #003d82;
    outline: none;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .profile-overlay {
        width: 80%;        /* Increase the width on small screens if 50% is too narrow */
        padding: 0.5rem;
    }

    .form-control, .btn {
        width: 100%;      /* Ensure form controls and button are full width */
    }
}
